.input_cout {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  background-color: transparent; /* Asigură-te că fundalul este transparent */
  padding: 8px; /* Ajustează padding-ul pentru a se potrivi cu restul input-urilor */
  appearance: none; /* Îndepărtează stilul implicit al browser-ului pentru select */
}

.input_cout:focus {
  outline: none; /* Îndepărtează conturul implicit al browser-ului pentru select */
}

.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #250849;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input_cout:focus ~ .underline:before, .input_cout:valid ~ .underline:before {
  transform: scale(1);
}
